In [1]:
import pandas as pd

In [151]:
import numpy as np

load data

In [3]:
movie = pd.read_csv("tmdb_5000_movies.csv")
credit = pd.read_csv("tmdb_5000_credits.csv")

merge data

In [4]:
movie.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [6]:
 movie = movie.merge(credit)

In [9]:
movie.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

important feature , basic feature selection 

genres
id
keywords
original_title
overview
vote_average
vote_count
cast	
crew

In [16]:
movie = movie[["genres","id","keywords","original_title","overview","cast", "crew"]]

In [17]:
movie.head(1)

,genres,id,keywords,original_title,overview,cast,crew
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [18]:
movie.shape

(4809, 7)

we want to make new data set which have 3 collums only 

1. id 
2. title
3. tags (genres,overview ,keywords , cast , crew )

In [19]:
movie.isnull().sum()

genres            0
id                0
keywords          0
original_title    0
overview          3
cast              0
crew              0
dtype: int64

In [25]:
movie.dropna(inplace=True)

In [29]:
movie.duplicated().sum()

np.int64(0)

In [34]:
movie.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [38]:
import ast 
# string remover

In [40]:
def convert(obj):
    l=[]
    for i in ast.literal_eval(obj): 
        # now its list 
        l.append(i["name"])

    return l

list =[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]

convert(list) just for checking function working or not

In [42]:
movie["genres"]=movie["genres"].apply(convert)

In [86]:
movie.head(1)

,genres,id,keywords,original_title,overview,cast,crew
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"[culture clash, future, space war, space colon...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

now we will do same thing with overview

In [46]:
movie["keywords"]=movie["keywords"].apply(convert)

In [98]:
def convert3(obj):
    l=[]
    counter=0
    for i in ast.literal_eva(obj): 
        # now its list 
        if (counter != 3 ):
            l.append(i["name"])
            counter = counter + 1
        else:
            break

        
    return l

In [99]:
# movie["cast"].apply(convert3)

In [104]:
def only3(obj):
    l=[]
    count = 0
    while count < 3 :
        try:
            l.append(obj[count])
        except:
            break
        count +=1

    return l

In [105]:
only3(["232",3,4,5,2,5,3])

['232', 3, 4]

In [108]:
movie["cast"]=movie["cast"].apply(only3)

In [109]:
movie["cast"].iloc[0]

['Sam Worthington', 'Zoe Saldana', 'Sigourney Weaver']

In [110]:
movie.head(1)

,genres,id,keywords,original_title,overview,cast,crew
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"[culture clash, future, space war, space colon...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [111]:
def fetch_Director(obj):
    l=[]
    for i in ast.literal_eval(obj): 
        if i["job"] == "Director":
            
            l.append(i["name"])
            break
    return l

In [113]:
movie["crew"]=movie["crew"].apply(fetch_Director)

In [114]:
movie.head(1)

,genres,id,keywords,original_title,overview,cast,crew
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"[culture clash, future, space war, space colon...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]

In [116]:
# for overview collum 
movie["overview"]=movie["overview"].apply(lambda x: x.split())

In [118]:
movie.head(1)

,genres,id,keywords,original_title,overview,cast,crew
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"[culture clash, future, space war, space colon...",Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]

all space remove

In [121]:
movie["keywords"]=movie["keywords"].apply(lambda x: [i.replace(" ","") for i in x])
movie["cast"]=movie["cast"].apply(lambda x: [i.replace(" ","") for i in x])
movie["crew"]=movie["crew"].apply(lambda x: [i.replace(" ","") for i in x])
movie["genres"]=movie["genres"].apply(lambda x: [i.replace(" ","") for i in x])

In [122]:
movie.head(1)

,genres,id,keywords,original_title,overview,cast,crew
0,"[Action, Adventure, Fantasy, ScienceFiction]",19995,"[cultureclash, future, spacewar, spacecolony, ...",Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]

In [123]:
 movie["tags"]= movie["overview"] + movie["genres"] + movie["keywords"] + movie["cast"] + movie["crew"]

In [124]:
movie.head(1)

,genres,id,keywords,original_title,overview,cast,crew,tags
0,"[Action, Adventure, Fantasy, ScienceFiction]",19995,"[cultureclash, future, spacewar, spacecolony, ...",Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."

In [136]:
new_df = movie[["id","original_title","tags"]]

In [137]:
new_df.head(2)

,id,original_title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."

In [142]:
x= new_df["tags"].apply(lambda x: " ".join(x))
new_df["tags"] = x

C:\Users\Ayush dwivedi\AppData\Local\Temp\ipykernel_109204\2732250997.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["tags"] = x

In [144]:
new_df.head(5)

,id,original_title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [145]:
new_df["tags"][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d SamWorthington ZoeSaldana SigourneyWeaver JamesCameron'

In [147]:
new_df["tags"] = new_df["tags"].apply(lambda x : x.lower())

C:\Users\Ayush dwivedi\AppData\Local\Temp\ipykernel_109204\1044876906.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["tags"] = new_df["tags"].apply(lambda x : x.lower())

In [148]:
new_df.head(2)

,id,original_title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."

preprocessing  completed

In [154]:
from nltk.stem.porter import  PorterStemmer

In [155]:
ps = PorterStemmer()

In [157]:
def stem(text):
    y =[]

    for i in text.split():
        y.append(ps.stem(i))

    return " ".join(y)

In [159]:
new_df["tags"] = new_df["tags"].apply(stem)

C:\Users\Ayush dwivedi\AppData\Local\Temp\ipykernel_109204\825579503.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["tags"] = new_df["tags"].apply(stem)

In [160]:
from sklearn.feature_extraction.text import CountVectorizer

In [161]:
cv = CountVectorizer(max_features=5000,stop_words="english")

In [162]:
vectors = cv.fit_transform(new_df["tags"]).toarray()

In [179]:
from sklearn.metrics.pairwise import cosine_similarity

In [197]:
similarity = cosine_similarity(vectors)

In [198]:
similarity[1]

array([0.08346223, 1.        , 0.06063391, ..., 0.02378257, 0.        ,
       0.02615329])

In [205]:
sorted(enumerate(similarity[0]),reverse=True,key=lambda x: x[1])[1:6]

[(1214, np.float64(0.28676966733820225)),
 (2405, np.float64(0.26901379342448517)),
 (3728, np.float64(0.2605130246476754)),
 (507, np.float64(0.255608593705383)),
 (539, np.float64(0.25038669783359574))]

In [204]:
# cleaned_data = [(x, float(y)) for x, y in data]

In [223]:
def recommend(movie):
    movie_index = new_df[new_df["original_title"] == movie].index[0]
    distance = similarity[movie_index]
    movie_list = sorted(enumerate(distance),reverse=True,key=lambda x: x[1])[1:6]


    for i in movie_list:
        print(new_df.iloc[i[0]].original_title)

In [224]:
recommend("Avatar")

Aliens vs Predator: Requiem
Aliens
Falcon Rising
Independence Day
Titan A.E.

In [228]:
import dill as pickle

In [233]:
# pickle.dump(new_df["original_title"],open("movies1.pkl","wb"))

by dictionary

In [235]:
pickle.dump(new_df.to_dict(),open("movie.pkl","wb"))

In [236]:
pickle.dump(similarity,open("similarity.pkl","wb"))

In [237]:
new_df.head()

,id,original_title,tags
0,19995,Avatar,"in the 22nd century, a parapleg marin is dispa..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believ to be dead, ha c..."
2,206647,Spectre,a cryptic messag from bond’ past send him on a...
3,49026,The Dark Knight Rises,follow the death of district attorney harvey d...
4,49529,John Carter,"john carter is a war-weary, former militari ca..."